body {
    font-family:"Segoe UI";
    background: #455854;
}
header, footer{
    background: #455854;
}
div#kaz {
    background: url("/images/kazbg.png");
    background-size: cover;
    max-width: 1920px;
    min-height: 530px;
    horiz-align: right;
    margin: 0 0 0 auto;


}
div#col {

    background-color: rgba(39,54,51, 0.7);
    background-color: rgba(39,54,51, 0.7);

}
#btnkaz {
    background-color: rgba(39,54,51, 0.7);
}

div#kaz p, h2, h1 {
    font-size: 25px;
    horiz-align: right;
    color:white;


}
div#textkaz {
    color:wh;

}


